{% extends "demo/base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    {% include "demo/includes/intro.html" with intro=self.intro only %}

    <form action="{% pageurl self %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="row">
                <div class="col-md-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-md-6">
                    {{ field }}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ field.errors }}
                        &nbsp;
                    </div>
                </div>
            </div>
        {% endfor %}
        <input type="submit">
    </form>
{% endblock %}
