<div class="page-header"><h3>Kontakt</h3></div>
<div class="row">
    <dl>
        <div class="col-sm-4">
            {% if contact.address_1 %}
                <dt>Adresse 1</dt>
                <dd>{{ contact.address_1 }}</dd>
            {% endif %}

            {% if contact.address_2 %}
                <dt>Adresse 2</dt>
                <dd>{{ contact.address_2 }}</dd>
            {% endif %}

            {% if contact.city %}
                <dt>Stadt</dt>
                <dd>{{ contact.city }}</dd>
            {% endif %}

            {% if contact.country %}
                <dt>Land</dt>
                <dd>{{ contact.country }}</dd>
            {% endif %}

            {% if contact.post_code %}
                <dt>PLZ</dt>
                <dd>{{ contact.post_code }}</dd>
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% if contact.telephone %}
                <dt>Telefon</dt>
                <dd>{{ contact.telephone }}</dd>
            {% endif %}

            {% if contact.email %}
                <dt>E-Mail</dt>
                <dd>{{ contact.email }}</dd>
            {% endif %}
        </div>
        <div class="col-sm-4">
        </div>
    </dl>
</div>
